@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h2>Claims</h2>
    <dl>
    @{
        var identity = (System.Security.Claims.ClaimsPrincipal)Thread.CurrentPrincipal;
        if(identity != null)
        {
        var claims = identity.Claims;
                @foreach (var claim in claims)
                {
                    <dt>@claim.Type</dt>
                    <dd>@claim.Value</dd>
                }
        }
        else
        {
            <div>Identity was not found</div>
        }
        
    }
    </dl>
</div>
